html{
    font-size: 62.5%; /* 16 px x 62.5 = 10px = 1rem */
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
  }

/* layout */
.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header{
    grid-area: header;
    background-color: #203040;
}
main{
    grid-area: main;
    padding: 1rem;
}
footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
}
/* common*/
h1{
    font-size: 1.8rem;
    padding: 1rem;
}
h2{
    font-size: 1.6rem;
    padding: 1rem;
}

a{
    text-decoration: none;
}
a:hover{
    color: #ff8000;
}

/* Header*/
header a{
    color:#ffffff;
    padding: 1rem;
}
a.brand{
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}
.row{
    /* display: inline-block; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: right; */
    margin: 2rem;
    padding-left: 2rem;
}
.row.center{
    justify-content: center;
}
/* image */
img{
    border-radius: 1rem;
}
img.medium{
    max-width: 15rem;
    width: 100%;
}
.card-body{
    height: 20rem;
}
  .price {
    font-size: 2rem;
  }
  /* Rating */
  .rating span {
    color: palevioletred;
    margin: 0.1rem;
  }
  .container {
      border: 2px black solid;
      background-color: powderblue;
  }
  span{
    font-size: 10px;
    color: rgb(24, 24, 172);
  }


.badge span {
    background-color: #fffbec;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.card-li {
    background-color: #fffbec;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.button-card{
    display: flex;
    margin-top: 20px;
}
.card-3{
    text-align: right;
    margin-right: 2rem;
}
.row-card {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.menu-hor{
    border-bottom:2px solid #000000 ;
    margin-left: 2rem;
}
.price-left{
    border-bottom:2px solid #000000 ;
    padding: 2rem;
}
.rating-radios{
    padding: 2rem;
    border-bottom:2px solid #000000 ;
}
.language-checkbox{
    padding: 2rem;
    border-bottom:2px solid #000000 ;
}
.btn-block{
    margin-bottom: 1rem;
}